body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.main{
    height:auto;
    width:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius:10px;
    box-shadow:0 0 10px black;
}
.main1{
    height:50px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin:10px;
}
.text{
    height:35px;
    width:60%;
    border-radius:10px;
    font-size:20px;
}
.add,.show{
    height:40px;
    width:80px;
    background-color:rgb(4, 132, 175);
    color:white;
    text-shadow: 0 0 10px black;
}
.show{
    margin:10px;
}
.taskitem{
    height:40px;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:10px;
    gap:10px;
    background-color:lightblue;
    border-radius:10px;  
}
.taskcon{
    height:auto;
    width:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.main2{
    height:40px;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:10px;
    gap:10px;
    background-color:lightblue;
    border-radius:10px; 
}
.tasktext{
    height:100%;
    width:70%;
    display:flex;
    align-items:center;
    justify-content:center;

}
.deletebtn{
    height:30px;
    width:80px;
    background-color:red;
    color:white;
    text-shadow: 0 0 10px black;
    border-radius: 10px;
}
